<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    
        <link th:replace="~{/fragments/login-template::link}" rel="preconnect">
        <link th:replace="~{/fragments/login-template::link}" rel="stylesheet">
    </head>
<body style="overflow-y: hidden;">
    
    <th:block th:insert="~{fragments/template::spinner}"></th:block>
    <div th:if="${successMessage}">
        <div class="alert alert-info" th:text="${successMessage}"></div>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <div class="RegisterButtons">
                <h1 style="margin-bottom: 10px;">Create Account</h1>
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a href="/register-pharmacist" target="_blank">
                        <button href="/register-pharmacist" style="width: 100%;">
                            Create as a <span style="font-weight: bolder;">pharmacist</span>
                        </button>
                    </a>
                    <br/>
                    <a href="/register-client" target="_blank">
                        <button href="/register-client" style="width: 100%;">
                            Create as a <span style="font-weight:bolder;">client</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-container sign-in-container">
            <form th:action="@{/login}" method="post">
                <h1>Sign In</h1>
                <input type="text" placeholder="Username" name="username" />
                <input type="password" placeholder="Password" name="password" />
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <img th:src="@{/img/login.png}" style="max-width: 150px;" alt="">
                    <h1 style="color: white;">Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <img th:src="@{/img/login.png}" style="max-width: 150px;" alt="">
                    <h1 style="color: white;">Hello!</h1>
                    <p>Enter your personal details to start the journey</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Libraries -->
    <th:block th:insert="~{fragments/login-template::body/script}"></th:block>
</body>
</html>
