<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Medical Product</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/img/Logo.png}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/dashboard/styles.min.css}" />
</head>

<body>

  <th:block th:insert="~{fragments/template::spinner}"></th:block>


  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="sidebar">
        <div style="display: flex;justify-content: center;">
          <a href="/index" class="text-nowrap logo-img">
            <img th:src="@{/img/login.png}" width="200px" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="" style="overflow: hidden;">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu" style="color: white;">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Management</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/inventory" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu" style="color: white;">Inventory</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link active" href="/add-mp" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu" style="color: white;">Add Medical Product</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/index" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu" style="color: white;">Log out</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="mb-3 mb-sm-0">
              <h5 class="card-title fw-semibold">Add Medical Product</h5>
              <p class="mb-0">Add new medicine to your inventory</p>
            </div>
          </div>
    <form th:action="@{/add-mp}" method="post" th:object="${medicine}">
      <label for="medicine_name">Medicine Name</label>
      <input type="text" name="medicine_name" th:field="*{medicineName}" required><br><br>
      
      <label for="quantity">Manufacturer</label>
      <input type="text" name="manufacturer" th:field="*{manufacturer}" required><br><br>

      <label for="medicine_id">Composition</label>
      <input type="text" name="medicine_id" th:field="*{composition}"><br><br>
  
      <label for="composition">Uses</label>
      <textarea name="composition" th:field="*{Uses}" rows="5"></textarea><br><br>
  
      <label for="quantity">Quantity</label>
      <input type="number" name="quantity" th:field="*{quantity}" required><br><br>
  
      <button type="submit">Add Medicine</button>
    </form>
    </div>
  </div>
  <script th:src="@{/lib/dashboard/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/lib/dashboard/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/dashboard/sidebarmenu.js}"></script>
  <script th:src="@{/js/dashboard/app.min.js}"></script>
  <script th:src="@{/lib/dashboard/apexcharts/dist/apexcharts.min.js}"></script>
  <script th:src="@{/lib/dashboard/simplebar/dist/simplebar.js}"></script>
  <script th:src="@{/js/dashboard/inventory.js}"></script>
</body>

</html>