<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>PharmAssist</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link th:replace="~{/fragments/template::link}" rel="preconnect">
    <link th:replace="~{/fragments/template::link}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="" class="navbar-brand d-flex px-4 px-lg-5">
            <div style="display: flex; align-items: center;margin: auto;">
                <img th:src="@{img/Logo.png}" alt="Logo" style="max-width: 70px; max-height: 70px;">
                <h1 class="m-0 text-primary" style="margin: 0;">
                    <span class="text-dark">P</span>harm<span class="text-dark">A</span>ssist
                </h1>
            </div>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="" class="nav-item nav-link active" onclick="activateLink(event, 'home')">Home</a>
                <a href="#mission" class="nav-item nav-link" onclick="activateLink(event, 'mission')">Mission</a>
                <a href="#services" class="nav-item nav-link" onclick="activateLink(event, 'services')">Services</a>
                <a href="#team" class="nav-item nav-link" onclick="activateLink(event, 'team')">Team</a>
                <a href="#contact" class="nav-item nav-link" onclick="activateLink(event, 'contact')">Contact</a>
            </div>
            <a href="/login" class="login btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">LOGIN</a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid header bg-primary p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white mb-5"> Your Gateway to Medical Products and Local Pharmacies</h1>
                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">123</h2>
                            <p class="text-light mb-0">Pharmacies</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">11000</h2>
                            <p class="text-light mb-0">Medical Products</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">12345</h2>
                            <p class="text-light mb-0">Clients</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" th:src="@{/img/carousel-1.jpg}" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Explore as a <span class="text-dark" style="text-shadow: 2px 2px 10px rgb(255, 255, 255);">Client</span></h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" th:src="@{/img/carousel-2.jpg}" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Manage as a <span class="text-dark" style="text-shadow: 2px 2px 10px rgb(255, 255, 255);">Pharmacist</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Mission Start -->
    <div class="container-xxl py-5" id="mission">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" th:src="@{/img/about-1.jpg}" alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" th:src="@{/img/about-2.jpg}" alt="" style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Mission</p>
                    <h1 class="mb-4">We Are Your Reliable Medical Companion: Learn More About Our Mission!</h1>
                    <p>PharmAssist is your ultimate destination for seamless access to medical products and local pharmacies. Whether you're a user seeking medical products or a pharmacist looking to manage your pharmacy efficiently, PharmAssist is here to assist you every step of the way.</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>User-friendly platform</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Manage your pharmacy with ease</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Bridge the gap between users and pharmacies</p>
                    <p class="mb-4">Join PharmAssist today and experience the convenience of accessing medical products and managing pharmacies like never before.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Join us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Services Start -->
    <div class="container-xxl py-5" id="services">
        <div class="container">
            <div class="container" id="servicesUser">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
                    <h1>For USERS</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded h-100 p-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                                <i class="fa fa-solid fa-pills text-primary fs-4"></i>
                            </div>
                            <h4 class="mb-3">Find Medical Products</h4>
                            <p class="mb-4">Explore a vast range of medical products from various pharmacies..</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item bg-light rounded h-100 p-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                                <i class="fa fa-map-marker-alt text-primary fs-4"></i>
                            </div>
                            <h4 class="mb-3">Locate Nearest Pharmacies</h4>
                            <p class="mb-4">Quickly locate the nearest pharmacies based on your location.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item bg-light rounded h-100 p-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                                <i class="fa fa-camera text-primary fs-4"></i>
                            </div>
                            <h4 class="mb-3">Scan your medical prescription</h4>
                            <p class="mb-4">Easily scan yor prescription and forward it to a pharmacist.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            </br>
            <div class="container" id="servicesPharmacist">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1>For PHARMACISTS</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-light rounded h-100 p-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                                <i class="fa fa-database text-primary fs-4"></i>
                            </div>
                            <h4 class="mb-3">Efficient Management</h4>
                            <p class="mb-4">Manage your pharmacy inventory, orders, and customer information efficiently.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item bg-light rounded h-100 p-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                                <i class="fa fa-bullhorn text-primary fs-4"></i>
                            </div>
                            <h4 class="mb-3">Promote Your Pharmacy</h4>
                            <p class="mb-4">Showcase your pharmacy to potential customers and increase your visibility.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item bg-light rounded h-100 p-5">
                            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                                <i class="fa fa-tasks text-primary fs-4"></i>
                            </div>
                            <h4 class="mb-3">Streamlined Operations</h4>
                            <p class="mb-4">Simplify day-to-day operations and enhance customer satisfaction.</p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Team Start -->
    <div class="container-xxl py-5" id="team">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Team</p>
                <h1>Our Wonderful Team</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" th:src="@{/img/team-1.jpg}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Mohamed Salah ARFA</h5>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://www.facebook.com/MedSalahArfa1/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href="https://www.instagram.com/med_salah_arfa1"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" th:src="@{/img/team-2.jpg}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Mohamed Aziz ELMIA</h5>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://www.facebook.com/aziz.almia.7"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href="https://www.instagram.com/azizalmia/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" th:src="@{/img/team-3.jpg}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Ali BOUJNAH</h5>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://www.facebook.com/ali.boujnah.712"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href="https://www.instagram.com/ali__boujnah/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Contact Start -->
    <div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0" id="contact">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <p class="d-inline-block border rounded-pill text-light py-1 px-4">Contact</p>
                        <h1 class="text-white mb-4">Contact Us</h1>
                        <p class="text-white mb-4 pb-2">Have a question? Reach out to us. We're here to help!</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-phone-alt text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Call</p>
                                        <h5 class="text-white mb-0">+012 345 6789</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-envelope text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">E-mail</p>
                                        <h5 class="text-white mb-0">info@pharmassist.com</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" th:src="@{/img/contact.png}" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5" id="testimonial">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Testimonial</p>
                <h1>Feedbacks from Our Community!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" th:src="@{/img/testimonial-1.jpg}" style="width: 100px; height: 100px;" alt="">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>"As someone who relies on regular medication, PharmAssist has been a game-changer for me. I can easily find the medical products I need and locate nearby pharmacies, all in one place. It's convenient, efficient, and has simplified my healthcare routine."</p>
                        <h5 class="mb-1">Jane Smith</h5>
                        <span class="fst-italic">Client</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" th:src="@{/img/testimonial-2.jpg}" style="width: 100px; height: 100px;" alt="">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>"PharmAssist has truly revolutionized the way I manage my pharmacy. The platform's intuitive interface and comprehensive features make inventory management a breeze. I can track stock levels, place orders, and streamline operations with ease. It's been a lifesaver for my business."</p>
                        <h5 class="mb-1">John Doe</h5>
                        <span class="fst-italic">Pharmacist</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" th:src="@{/img/testimonial-3.jpg}" style="width: 100px; height: 100px;" alt="">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>"I've tried several apps for accessing medical products and managing my pharmacy, but none compare to PharmAssist. Its user-friendly interface, coupled with accurate and up-to-date information, sets it apart. Whether I'm on the go or at my pharmacy, PharmAssist is my go-to solution."</p>
                        <h5 class="mb-1">David Johnson</h5>
                        <span class="fst-italic">Pharmacist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-light mb-4">Contact</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Faculty of sciences, Bizerte</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@pharmassist.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-light mb-4">Services</h5>
                    <a class="btn btn-link" href="#servicesUser">Find Medical Products</a>
                    <a class="btn btn-link" href="#servicesUser">Locate Nearest Pharmacies</a>
                    <a class="btn btn-link" href="#servicesUser">Scan your medical prescription</a>
                    <a class="btn btn-link" href="#servicesPharmacist">Efficient Management</a>
                    <a class="btn btn-link" href="#servicesPharmacist">Promote Your Pharmacy</a>
                    <a class="btn btn-link" href="#servicesPharmacist">Streamlined Operations</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="#mission">About Us</a>
                    <a class="btn btn-link" href="#services">Our Services</a>
                    <a class="btn btn-link" href="#team">Our Team</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="">PharmAssist</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <th:block th:insert="~{fragments/template::body/script}"></th:block>
</body>

</html>