<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Sign up - Client</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    
        <link th:replace="~{fragments/signup-template::link}" rel="preconnect">
        <link th:replace="~{fragments/signup-template::link}" rel="stylesheet">
    </head>
<body style="overflow-y: hidden;">
    
    <th:block th:insert="~{fragments/template::spinner}"></th:block>
    
    <div class="container" id="container">
        <div class="form-container sign-in-container" style="max-height: 100%;">
            <form th:action="@{/register-client}" method="post" th:object="${client}">
                <br>
                <h5>Client's info</h5>
                <input type="text" placeholder="First name" th:field="*{firstName}" required />
                <input type="text" placeholder="Last name" th:field="*{lastName}" required />
                <input type="text" placeholder="Username" th:field="*{username}" required />
                <input type="email" placeholder="Email" th:field="*{email}" required />
                <input type="password" placeholder="Password" th:field="*{password}" required />
                <br>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img th:src="@{/img/login.png}" style="max-width: 300px;" alt="">
                    <h1 class="m-0 text-light" style="margin: 0;">
                       Sign Up
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Libraries -->
    <th:block th:insert="~{fragments/signup-template::body/script}"></th:block>
</body>
</html>
